<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>

  <main class="wrap d-flex ">
    <nav class="navbar light d-flex flex-column justify-content-between align-items-start w-25 pt3 me-4">
      <ul class="fs-3 d-flex flex-column ">
        <li class="ps-5">
          <h1> <a href="#" class="text-hide"> ANSWER</a></h1>
        </li>
        <li class="mt2 border-left ps-5"><a href="./database.html"><i
              class="fas fa-tachometer-alt me-3"></i>Dashboard</a></li>
        <li class="mt2 border-left ps-5"><a href="./database.html"><i
              class="fas fa-question-circle me-3"></i>Question</a></li>
        <li class="mt2 border-left ps-5"><a href="./index.html"><i class="fas fa-parachute-box me-3"></i>Assignment</a>
        </li>
        <li class="mt2 border-left ps-5"><a href="./database.html"><i class="fab fa-discourse me-3"></i>Course</a></li>
        <li class="mt2 border-left ps-5"><a href="./database.html"><i class="fas fa-users-cog me-3"></i>Admin</a></li>
        <li class="mt2 border-left ps-5"><a href="./database.html"><i class="fas fa-user-cog me-3"></i>Settings</a></li>
      </ul>
      <ul class="News mt3 ps-5">
        <li class="d-flex justify-content-center align-items-center">
          <div class="News-img">
            <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt=""
              class="header-pic">
          </div>

          <div class="News-text ">
            <ul class="ps-3">
              <li>Andy Chen</li>
              <li class="fs1">andy0401@mail.com</li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <%- contents %>

  </main>



  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>