.wrap{
    .navbar{
        h1{
            a{
                background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week5/logo-ANSWER.svg);
                width: 151px;
                height: 40px;
            }
        }
    }
}
.header-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}